<div class="list">
  <p> Welcome to Ada Zoo! Currently we have <%= @animals.size %> members. Below is a full list of them. Please feel free to click on any one you're interested in and learn more about her/him. You can also vote for the ones you really love, which will make them go to the front of the list. Have fun! 😉 </p>

  <ul>
    <% @animals.each do |animal| %>
      <li>
        <%= link_to animal.name, animal_path(animal.id) %>
      </li>
    <% end %>
  </ul>
</div>
