@import url('https://fonts.googleapis.com/css?family=David+Libre|Mountains+of+Christmas|Mystery+Quest|Ribeye');
/* font-family: 'David Libre', serif;
font-family: 'Mystery Quest', cursive;
font-family: 'Mountains of Christmas', cursive;
font-family: 'Ribeye', cursive; */

/* Color scheme */
/* $color1: rgba(252, 252, 98, 1); #FCFC62; yellow
$color2: rgba(152, 223, 175, 1); #98DFAF; green
$color3: rgba(115, 0, 113, 1); #730071; purple
$color4: rgba(254, 255, 234, 1); #FEFFEA; cream
$color5: rgba(22, 0, 30, 1); #16001E; black */

/********** global **********/
html, body {
  background-color: #FEFFEA;
  width: 100%;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: 'Mountains of Christmas', cursive;
  color: #730071;
}

a:hover {
  color: #98DFAF;
}

h1, h3, h4 {
  font-family: 'Ribeye', cursive;
  margin: 10px;
}

p {
  font-family: 'Mystery Quest', cursive;
  font-size: 1.4em;
  line-height: 1.5;
  text-align: center;
  width: 90%;
  margin: 5px;
}

label, input {
  font-family: 'David Libre', serif;
  font-size: 1.3em;
  margin: 5px;
}

.list, .show, .form {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.show h1, .form h1 {
  padding-bottom: 10px;
}

.list ul, .show ul {
  display: flex;
  flex-flow: row wrap;
}

.list li, .show li {
  font-size: 1.6em;
  padding: 5px 20px;
}

strong {
  color: red;
}

/********** header & footer **********/

header {
  background-image: url(/assets/zoo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  height: 500px;
  width: 100%;
}

footer {
  text-align: center;
  width: 100%;
}

footer p {
  font-family: 'David Libre', serif;
  font-size: 0.8em;
  width: 100%;
}

/********** nav **********/
nav {
  color: white;
  background-color: black;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

nav h1 {
  text-align: left;
  width: 50%;
  margin: 0px;
  padding-left: 50px;
}

nav ul {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav h3 {
  font-size: 1.5em;
}

/********** list **********/
.list {
  min-height: 350px;
}

.list p {
  text-align: justify;
}

.list ul {
  padding: 0 50px;
}

/********** show **********/
.show {
  min-height: 500px;
}

.show .image {
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/********** form **********/
.form {
  min-height: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form input:last-child {
  text-align: center;
  text-decoration: none;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 1.6em;
  color: #730071;
  background-color: inherit;
  padding: 10px 5px;
  border: none;
}

.form input:last-child:hover {
  color: #98DFAF;
}
