@import url('https://fonts.googleapis.com/css?family=David+Libre|Elsie+Swash+Caps|Flavors|Fontdiner+Swanky|Griffy|IM+Fell+English|Mountains+of+Christmas|Mystery+Quest|Ranchers|Ribeye|Sevillana');
/* font-family: 'Fontdiner Swanky', cursive;
font-family: 'IM Fell English', serif;
font-family: 'David Libre', serif;
font-family: 'Ranchers', cursive;
font-family: 'Mystery Quest', cursive;
font-family: 'Mountains of Christmas', cursive;
font-family: 'Ribeye', cursive;
font-family: 'Griffy', cursive;
font-family: 'Flavors', cursive;
font-family: 'Elsie Swash Caps', cursive;
font-family: 'Sevillana', cursive; */

/********** global **********/
ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;

  font-family: 'Mountains of Christmas', cursive;

}

h1, h3, h4 {
  margin: 10px;
  font-family: 'Ribeye', cursive;
}

p {
  font-size: 1.4em;
  line-height: 1.5;
  width: 90%;
  text-align: center;
  margin: 5px;

  font-family: 'Mystery Quest', cursive;
}

label, input {
  font-size: 1.3em;
  margin: 5px;

  font-family: 'David Libre', serif;
}

/********** layout **********/
html, body {
  width: 100%;
}

header {
  background-image: url(/assets/zoo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  height: 500px;
  width: 100%;
}

footer {
  width: 100%;
  text-align: center;
}

/********** nav **********/
nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: white;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  position: fixed;
}

nav h1 {
  width: 50%;
  text-align: left;
  padding-left: 50px;
  margin: 0px;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

nav h3 {
  font-size: 1.5em;
}

/********** list **********/
.list {
  min-height: 350px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 20px;
}

.list p {
  text-align: justify;
}

.list ul {
  display: flex;
  flex-flow: row wrap;
}

.list li {
  font-size: 1.5em;
  padding: 0 20px;
}

/********** show **********/
.show {
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.show ul {
  display: flex;
  flex-flow: row wrap;
}

.show li {
  font-size: 1.5em;
  padding: 0 20px;
}

.show .image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show strong {
  color: red;
  font-family: cursive;
}

/********** form **********/
.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 500px;
}
