@import url('https://fonts.googleapis.com/css?family=David+Libre|Mountains+of+Christmas|Mystery+Quest|Ribeye');
/* font-family: 'David Libre', serif;
font-family: 'Mystery Quest', cursive;
font-family: 'Mountains of Christmas', cursive;
font-family: 'Ribeye', cursive; */

/* RGB */
/* $color1: rgba(252, 252, 98, 1); #FCFC62; yellow
$color2: rgba(152, 223, 175, 1); #98DFAF; green
$color3: rgba(115, 0, 113, 1); #730071; purple
$color4: rgba(254, 255, 234, 1); #FEFFEA; white
$color5: rgba(22, 0, 30, 1); #16001E; black */

/********** global **********/
ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: 'Mountains of Christmas', cursive;
  color: #730071;
}

a:hover {
  color: #98DFAF;
}

h1, h3, h4 {
  margin: 10px;
  font-family: 'Ribeye', cursive;
}

p {
  font-size: 1.4em;
  line-height: 1.5;
  width: 90%;
  text-align: center;
  margin: 5px;

  font-family: 'Mystery Quest', cursive;
}

label, input {
  font-size: 1.3em;
  margin: 5px;

  font-family: 'David Libre', serif;
}

.show h1, .form h1 {
  padding: 10px 0;
}

/********** layout **********/
html, body {
  width: 100%;
  background-color: #FEFFEA;
}

header {
  background-image: url(/assets/zoo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  height: 500px;
  width: 100%;
}

footer {
  width: 100%;
  text-align: center;
}

/********** nav **********/
nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: white;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  position: fixed;
}

nav h1 {
  width: 50%;
  text-align: left;
  padding-left: 50px;
  margin: 0px;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

nav h3 {
  font-size: 1.5em;
}

/********** list **********/
.list {
  min-height: 350px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 20px;
}

.list p {
  text-align: justify;
}

.list ul {
  display: flex;
  flex-flow: row wrap;
}

.list li {
  font-size: 1.6em;
  padding: 0 20px;
}

/********** show **********/
.show {
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.show ul {
  display: flex;
  flex-flow: row wrap;
}

.show li {
  font-size: 1.6em;
  padding: 0 20px;
}

.show .image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show strong {
  color: red;
}

/********** form **********/
.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 500px;
}

.form input:last-child {
  background-color: inherit;
  border: none;
  text-decoration: none;
  font-family: 'Mountains of Christmas', cursive;
  color: #730071;
  font-size: 1.6em;
  padding: 10px 5px;
  text-align: center;
}

.form input:last-child:hover {
  color: #98DFAF;
}
